EXPO_PUBLIC_ENV=local
EXPO_PUBLIC_API_BASE_URL_LOCAL=http://192.168.1.199:8085
EXPO_PUBLIC_API_BASE_URL_PROD=https://jako-danaya.onrender.com

EXPO_PUBLIC_FRONTEND_BASE_URL_LOCAL=http://192.168.1.199:5173
EXPO_PUBLIC_FRONTEND_BASE_URL_PROD=https://jako-danaya.onrender.com
